@tailwind base;
@tailwind components;
@tailwind utilities;

.header_maindiv {
    z-index: 100;

}

.image-six {
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));

}


.search-icon {
    font-size: 40px;
}

/*input.form-height {
    height: 12;
    width: 100%;
    font-size: 6;
}

@media only screen and (min-width: 768px) {
    input.form-height {
        height: 36;
        width: 100%;
        font-family: 24;
        
    }
}
*/